ol{
    border: 2px solid;
    width: 250px;
    padding: 5px;
}

li{ 
    margin-bottom: 5px;
    padding: 3px 3px 3px 34px;
    list-style-position: inside;
}

li:nth-of-type(1){
    background-image: url("slike/en-GB.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(0, 255, 0, 0.75);
}

li:nth-of-type(2){
    background-image: url("slike/es.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: rgba(0, 0, 255, 0.5);
}

li:nth-of-type(3){
    background-image: url("slike/de.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgba(255, 0, 0, 0.25);
}

li:nth-of-type(4){
    background-image: url("slike/es.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgba(0, 0, 255, 0.5);
}

li:nth-of-type(5){
    background-image: url("slike/de.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgba(255, 0, 0, 0.25);
}

li:nth-of-type(6){
    margin-bottom: 0%;
    background-image: url("slike/en-GB.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: rgba(0, 255, 0, 0.75);
}


a {
    outline: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
	text-decoration: underline;
    text-transform: uppercase;
}
